.round-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffcc;
}

.round-button.toggled {
  background-color: #ffd700;
}
