body {
  font-family: "Your Font Name", sans-serif;
}

.expand-action,
.file-actions {
  margin-bottom: 20px;
}

.file-actions button {
  margin-right: 10px;
}

.completion-percentage {
  display: flex;
  align-items: center;
}

.completion-percentage p {
  margin-right: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 0 25vw;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.round-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #eeeeee;
}

.round-button.toggled {
  background-color: #00adb5;
}

.expand-action button {
  background-color: #222831;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expand-action button:hover {
  opacity: 0.8;
}

.completion-percentage button,
.file-actions button {
  background-color: #393e46;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.completion-percentage button:hover,
.file-actions button:hover {
  opacity: 0.8;
}

.file-button {
  display: inline-block;
  background-color: #393e46;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-button:hover {
  opacity: 0.8;
}

.file-actions {
  display: flex;
  align-items: center;
}

.file-actions button {
  margin-right: 10px;
}
